@mixin transition($from-color, $to-color) {
	transition: $from-color 0.5s, $to-color 0.5s;
	-webkit-transition: $from-color 0.5s, $to-color 0.5s;
	-moz-transition: $from-color 0.5s, $to-color 0.5s;
	-o-transition: $from-color 0.5s, $to-color 0.5s;
}
